    {{!-- <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                    <ul class="main-menu">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./search.html">Search Results</a></li>
                        <li><a href="./about.html">Categories</a></li>
                        <li><a href="./single-property.html">Single Property</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>

                        <li class="top-social">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </li>
                    </ul>
                    <div id="mobile-menu-wrap"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                        <li><a href="./index.html" role="menuitem" tabindex="-1">Home</a></li>
                        <li><a href="./search.html" role="menuitem" tabindex="-1">Search Results</a></li>
                        <li><a href="./about.html" role="menuitem" tabindex="-1">Categories</a></li>
                        <li><a href="./single-property.html" role="menuitem" tabindex="-1">Single Property</a></li>
                        <li><a href="./blog.html" role="menuitem" tabindex="-1">Blog</a></li>
                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>

                        <li class="top-social">
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-pinterest"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-facebook"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-twitter"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-dribbble"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-behance"></i></a>
                        </li>
                    </ul></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                        <li><a href="./index.html" role="menuitem" tabindex="-1">Home</a></li>
                        <li><a href="./search.html" role="menuitem" tabindex="-1">Search Results</a></li>
                        <li><a href="./about.html" role="menuitem" tabindex="-1">Categories</a></li>
                        <li><a href="./single-property.html" role="menuitem" tabindex="-1">Single Property</a></li>
                        <li><a href="./blog.html" role="menuitem" tabindex="-1">Blog</a></li>
                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>

                        <li class="top-social">
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-pinterest"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-facebook"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-twitter"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-dribbble"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-behance"></i></a>
                        </li>
                    </ul></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                        <li><a href="./index.html" role="menuitem" tabindex="-1">Home</a></li>
                        <li><a href="./search.html" role="menuitem" tabindex="-1">Search Results</a></li>
                        <li><a href="./about.html" role="menuitem" tabindex="-1">Categories</a></li>
                        <li><a href="./single-property.html" role="menuitem" tabindex="-1">Single Property</a></li>
                        <li><a href="./blog.html" role="menuitem" tabindex="-1">Blog</a></li>
                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>

                        <li class="top-social">
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-pinterest"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-facebook"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-twitter"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-dribbble"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-behance"></i></a>
                        </li>
                    </ul></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                        <li><a href="./index.html" role="menuitem" tabindex="-1">Home</a></li>
                        <li><a href="./search.html" role="menuitem" tabindex="-1">Search Results</a></li>
                        <li><a href="./about.html" role="menuitem" tabindex="-1">Categories</a></li>
                        <li><a href="./single-property.html" role="menuitem" tabindex="-1">Single Property</a></li>
                        <li><a href="./blog.html" role="menuitem" tabindex="-1">Blog</a></li>
                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>

                        <li class="top-social">
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-pinterest"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-facebook"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-twitter"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-dribbble"></i></a>
                            <a href="#" role="menuitem" tabindex="-1"><i class="fa fa-behance"></i></a>
                        </li>
                    </ul></div></div>
                </div>
            </div>
        </div>
    </header> --}}
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    {{!-- <section class="hero-section home-page set-bg" data-setbg="img/bg.jpg" style="background-image: url(&quot;img/bg.jpg&quot;);">
        <div class="container hero-text text-white">
            <h2>My Year Book</h2>
            <h1>BICAS</h1>
        </div>
    </section> --}}
    <!-- Hero Section End -->
    <!-- Filter Search Section Begin -->
    <div class="filter-search">
        <div class="container ">
            <form class="filter-form">
                <div class="location">
                    <p>Location</p>
                    <select class="filter-location" style="display: none;">
                        <option value="">London</option>
                        <option value="">US</option>
                        <option value="">UAE</option>
                    </select><div class="nice-select filter-location" tabindex="0" style="display: none;"><span class="current">London</span><ul class="list"><li data-value="" class="option selected focus">London</li><li data-value="" class="option">US</li><li data-value="" class="option">UAE</li></ul></div><div class="nice-select filter-location" tabindex="0" style="display: none;"><span class="current"></span><ul class="list"></ul></div><div class="nice-select filter-location" tabindex="0"><span class="current"></span><ul class="list"></ul></div>
                </div>
                <div class="search-btn">
                    <button type="submit"><i class="flaticon-search"></i>Search</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Filter Search Section End -->
    <!-- Hotel Room Section Begin -->
    <section class="hotel-rooms spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="img/rooms/1.jpg" style="background-image: url(&quot;img/rooms/1.jpg&quot;);">
                            <a href="#" class="room-content">
                                <i class="fa fa-facebook social-space"></i>
                            </a>
                            <!-- <a href="#" class="room-content">
                                <i class="fa fa-facebook social-space"></i>
                            </a> -->
                        </div>
                        <div class="room-text">
                            <div class="room-details">
                                <div class="room-title">
                                    <h5>Oladipo Usman</h5>
                                    <i><i class="flaticon-placeholder"></i> <span>Nigeria</span></i>
                                    <i class="large-width"><i class="flaticon-clock"></i> <span>June 21</span></i>
                                </div>
                            </div>
                            <div class="room-features">
                                <div class="room-info">
                                    <p> Usman is an Alumni, But A very Stupid Boy..... Now a Stupid Man </p>
                                </div>
                            </div>
                            <div class="room-price">
                                <p>Phone Number</p>
                                <span>0810000100010001</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="newslatter-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="newslatter-text">
                        <img src="img/message.png" alt="">
                        <h4>Join our mailing to get weekly updates on <br>our exclusive deals.</h4>
                        <form>
                            <input type="text" placeholder="Email address">
                            <button type="submit" class="site-btn news-btn">Subscribe!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Newslatter Section End -->
    <!-- Servies Section Begin -->
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-side">
                        <h2><span>Why build this?</span>
                            <!-- <br>Because we we are the best in <br>the business.</h2> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id est nec nisl tristique
                            dignissim semper sed diam. Donec vulputate neque in massa hendrerit, non dignissim ipsum
                            varius. Mauris dignissim libero ipsum, nec molestie nulla molestie at. Nam imperdiet
                            hendrerit finibus. Sed porttitor ultricies sagittis. Nullam lobortis nec quam vitae
                            venenatis. </p> -->
                    </h2></div>
                </div>
                <div class="col-lg-6">
                    <div class="right-side">
                        <ul>
                            <li><img src="img/check.png" alt="">It's my Birthday.
                            </li>
                            <li><img src="img/check.png" alt="">I love building cool stuffs.</li>
                            <li><img src="img/check.png" alt="">I miss my School Mates.</li>
                            <!-- <li><img src="img/check.png" alt="">Suspendisse sit amet erat placerat, molestie neque id
                            </li>
                            <li><img src="img/check.png" alt="">Fusce pretium libero sit amet ipsum posuere pretium.
                            </li>
                            <li><img src="img/check.png" alt="">Praesent tincidunt diam in ante faucibus tristique.</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    